html {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    height: 3.4rem;
    align-items: center;
    color: gray;
    margin-top: 0.4rem;
}

.links {
    padding-left: 1.4rem;
}

.navLinks {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.navLinks:hover {
    text-decoration: underline;
}

button {
    border: none;
    cursor: pointer;
}

.applications {
    width: 30px;
    height: 30px;
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    background-color: #fff;
    margin-left: 1.4rem;
}

img.avatar {
    border-radius: 50%;
    margin-left: 2rem;
    margin-right: 1rem;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo {
    margin-top: 16rem;
}

.searchBar {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 580px;
    border: 0.1px solid #ddd;
    border-radius: 30px;
}

.searchBar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: rgb(94, 94, 94);
    font-weight: 200;
}

.searchButtons {
    height: 70px;
    padding-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f8fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0px 30px;
    height: 36px;
    font-size: 14px;
}

button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.top {
    width: 100%;
    border-bottom: 1px solid #dadce0;
    padding: 0px 35px;
    padding-left: 50px;
    font-size: 15px;
}

.test {
    color: rgba(0, 0, 0, 0.87);
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    color: #222;
}

.link {
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.other {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}